.profile {
  height: 100vh;
  overflow-y: scroll;
  padding: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .userContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
    img {
      width: 8rem;
      height: 8rem;
      object-fit: cover;
      border-radius: 50%;
    }
    .user {
      display: flex;
      gap: 2rem;
      justify-content: space-between;
      width: 100%;
      .followAnduser {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        .username {
          h1 {
            text-transform: capitalize;
          }
          p {
            color: var(--color);
          }
        }
        .followers {
          .ul {
            display: flex;
            align-items: center;
            gap: 1rem;
            .li {
              display: flex;
              align-items: center;
              gap: 0.5rem;
              span {
                text-transform: capitalize;
                font-weight: 500;
                &:nth-child(1) {
                  color: var(--linkColor);
                }
              }
            }
          }
        }
      }
      .editButton {
        display: flex;
        gap: 0.5rem;
        padding: 10px;
        font-size: 15px;
        font-weight: 500;
        text-transform: capitalize;
        border-radius: 5px;
        cursor: pointer;
        background: #131315;
        border: none;
        outline: none;
        align-items: center;

        span {
          ion-icon {
            color: var(--linkColor);
            font-size: 1.3rem;
          }
        }
      }
    }
  }
  .tabs {
    margin-top: 3rem;
    .ul {
      display: flex;
      align-items: center;
      .li {
        width: 10rem;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
        border-radius: 5px;
        cursor: pointer;
        padding: 0.8rem;
        background: rgb(13, 13, 15);
        border: none;
        outline: none;

        span {
          ion-icon {
            font-size: 1.3rem;
            color: var(--linkColor);
          }
        }
      }
    }
  }
  .post {
    margin-top: 2rem;
    .ul {
      display: grid;
      grid-template-columns: auto auto;
      gap: 1rem;
    }
  }
}

@media screen and (max-width: 1300px) {
  .profile {
    .userContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      .user {
        display: flex;
        gap: 2rem;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        .followAnduser {
          text-align: center;
          display: flex;
          gap: 2rem;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}

@media screen and (min-width: 1124px) {
  .profile {
    .post {
      .ul {
        grid-template-columns: auto auto auto;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .profile {
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    margin: 4rem 0rem;
    padding: 1rem;
  }
}
